<?xml version="1.0"?>

<!-- PARAMETERS -->
<!-- This file defines all the robot parameters needed -->
<!-- All units in m-kg-s-radians unit system -->

<robot name="Platform" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ROS -->
    <xacro:property name="ros_namespace" value="Platform" />

    <!-- MATH -->
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <xacro:property name="M_PI_2" value="1.570796327" />
    <xacro:property name="DEG_TO_RAD" value="0.017453293" />

    <!-- MECHANICS -->
    <!-- Main body radius and height -->
    <!-- Main Body Cylinder base   -->
    <xacro:property name="base_height" value="0.36" />
    <xacro:property name="base_length" value="1.689" />
    <xacro:property name="base_radius" value="0.641" />
    <xacro:property name="base_ground_clearance" value="0.2" />
    <xacro:property name="base_mass" value="250" /> <!-- in kg-->
    <xacro:property name="base_shape" value="rectangle" /> <!-- circle, rectangle-->
    <!-- Casters -->
    <xacro:property name="caster_radius" value="0.075" />
    <xacro:property name="caster_mass" value="0.2" />
    <!-- Wheels -->
    <xacro:property name="wheel_radius" value="0.125" />
    <xacro:property name="wheel_height" value="0.04" />
    <xacro:property name="wheel_number" value="6" />
    <xacro:property name="wheel_mass" value="3.0" /> <!-- in kg-->
    <xacro:property name="base_x_origin_to_wheel_origin" value="0.0" />
    <xacro:property name="base_y_origin_to_wheel_origin" value="${0.944/2}" />
    <xacro:property name="mast_height" value="12" />

    <!-- SENSORS -->
    <!-- laser sensors -->
    <xacro:property name="laser_updateRate" value="20.0" />

    <!-- ODOMETRY -->
    <xacro:property name="odom_updateRate" value="20.0" />

    <!-- FORMULAS -->
    <!-- Macro for calculating inertia of cylinder -->
    <xacro:macro name="cylinder_inertia" params="m r h">
        <inertia    ixx="${m*(3*r*r+h*h)/12}" ixy = "0" ixz = "0"
                    iyy="${m*(3*r*r+h*h)/12}" iyz = "0"
                    izz="${m*r*r/2}" />
        <mass value="${m}" />
    </xacro:macro>
    <xacro:macro name="box_inertia" params="m x y z">
        <inertia    ixx="${(1.0 / 12.0) * (y*y + z*z) * m}" ixy = "0" ixz = "0"
                    iyy="${(1.0 / 12.0) * (x*x + z*z) * m}" iyz = "0"
                    izz="${(1.0 / 12.0) * (x*x + y*y) * m}" />
        <mass value="${m}" />
    </xacro:macro>


    <!-- Macro for calculating inertia of sphere -->
    <xacro:macro name="sphere_inertia" params="m r">
        <inertia    ixx="${m*r*r*2/5}" ixy = "0" ixz = "0"
                    iyy="${m*r*r*2/5}" iyz = "0"
                    izz="${m*r*r*2/5}" />
        <mass value="${m}" />
    </xacro:macro>



</robot>
